* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

p{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.pontos{
    position: absolute;
    margin-left: 50%;
    font-size: 50px;
    margin-top: 350px;
}

.game-board {
    width: 100%;
    height: 700px;
    border-bottom: 8px green solid;
    border-radius: 10px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(44, 198, 245), rgb(84, 203, 240), rgb(253, 251, 218));
}

.endGameBoard{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 300px;
    background: green;
    border: 2px solid black;
    border-radius: 30px;
}

.endGameBoard p {
    margin: 20px;
}

.reload{
    width: 150px;
    height: 70px;
    border-radius: 20px;
    margin-left: 50px;
    cursor: pointer;
    font-size: 25px;
}

.nuvem {
    position: absolute;
    height: 300px;
    width: 500px;
    animation: nuvem 20s infinite linear;
}

.obstaculo{
    position: absolute;
    height: 100px;
    bottom: 0;
    animation: obstaculo-animação 4s infinite linear; 
 }

.pikachu {
    height: 100px;
    position: absolute;
    border-radius: 30px;
    bottom: 0px;
 }

.jump {
    animation: pikachu-pulando 2s linear;
}

@keyframes nuvem {
    from {
        right: -501px;
    }

    to {
        right: 100%;
    }
}


@keyframes obstaculo-animação {
    from {
        right: -101px;
    }

    to {
        right: 100%;
    }
}

@keyframes pikachu-pulando {
    0% {
        bottom: 0;
    }

    25% {
        bottom: 130px;
    }

    35% {
        bottom: 140px;
    }

    40% {
        bottom: 145px;
    }

    50% {
        bottom: 150px;
    }

    60% {
        bottom: 145px;
    }

    65% {
        bottom: 140px;
    }

    75% {
        bottom: 130px;
    }

    85% {
        bottom: 110px;
    }

    100% {
        bottom: 0px;
    }
}